html { 
    background-color: #FFEBCD;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

#fixed {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFEBCD;
    padding: 10px 0 10px 0;
    border:1px solid bisque;
    margin: 0px auto;
}

#nav {
    text-align: center;
    
    margin: 0px auto;
}

#nav li {
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    margin: 0 10px;
}

#nav a {
    text-decoration: none;
    color: brown;
}

#nav a:hover {
    border-color: brown;
    border-style: solid;
    border-right: 1px;
    border-left: 1px;
    font-weight: 700;
}


#head {
    height: 300px;
    width: 900px;
    margin: 20px auto;
    
}

#head h1 {
    padding-top: 40px;
    color: brown;
    font-size: 50px;
}

#head p {
    font-size: 17.5px;
    letter-spacing: .5px;
}

#color {
    width: 900px;
    margin: 20px auto;
}

h2 {
    font-size: 25px;
    color: brown;
}

p.p {
    font-size: 17px;
    letter-spacing: .5px;
}

#color h3 {
    color: brown;
}

.color-pallet{
    margin: 0 auto;
    width: 900px;
    border: 1px solid brown;
}

.color-pallet h4 {
    display: inline-block;
    margin: 20px 40px 20px 40px;
    border: 1px solid black;
    height: 70px;
    width: 150px;
    text-align: center;
    padding-top: 20px;
}

#black {
    background-color: black;
    color: white;
}

#white {
    background-color: white;
    color: brown;
}

#brown {
    background-color: brown;
    color: white;
}

#bisque {
    background-color: bisque;
    color: brown;
}

#bisque2 {
    background-color: FFEBCD;
    color: brown;
}


#button {
    margin: 50px auto;
    text-align: center;
    width: 300px;
    height: 100px;
    
}

.hyperlink{
    margin:0 auto;
    height: 50px;
    width: 150px;
    box-shadow: -2px 2px 2px;
    background-color: bisque;
}

.hyperlink:active {
    margin-top: 2px;
    box-shadow: 0 0 0;
    background-color: #FFEBCD;
    color: brown;
    border: 0px hidden;
}
.hyperlink a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.hyperlink a:visited {
    color: black;
}

.hyperlink a:active {
    color: brown;
}

#fonts, .fontbox {
    margin: 20px auto;
    width: 900px;
}

.fontbox div {
    display: inline-block;
    margin: 20px;
}

.roboto, .merriweather, .neon {
    line-height: 1.5;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.neon {
    font-family: 'Tilt Neon', cursive;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

.text-styles, #text {
    margin: 0 auto;
    width: 900px;
}

.text-styles  {
    font-family: 'Nunito Sans', sans-serif;
}

.nunito .h1 {
    Font-weight: 700;
    Font-size: 26px;
}

.nunito li {
    Font-weight: 400;
    Font-size: 17px;
}

.poppins, .poppins2 {
    font-family: 'Poppins', sans-serif;
}

.poppins h2 {
    font-family: 'Poppins', sans-serif;
    color: black;
    Font-weight: 500;
    Font-size: 20px;
}

.poppins li {
    Font-weight: 400;
    Font-size: 17px;
}

.poppins2 h3 {
    Font-size: 16px;
    Font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.poppins2 li {
    Font-weight: 400;
    Font-size: 16px;
}

footer {
    width: 900px;
    text-align: center;
    margin: 50px auto;
}

footer h3 {
    background-color: brown;
    color: #FFEBCD;
}
